body{
    background-color: #27262b;
    background-image:url(images/pattern.jpg) ;
}   

.cabecera, .contenedor{
    max-width: 1000px;
    margin:auto;
}

.contenedor{
    background-color:whitesmoke;
}